p{
    color: black;
}

.conan{
    background-color: antiquewhite;
}
.conan2{
    background-color: bisque;
}
.conan3{
    background-color: beige;
}

a.jasonlink{
    padding: 0px 30px;
    margin-left: 10px;
    border-radius: 50px;
    color: cadetblue;
}

a.jasonlink:hover{
    background-color: gray;
    color:beige  
}

div.jasondivgray{
    background-color: rgb(236, 184, 205);
    padding: 30px;
    border-radius: 10;
    border:3px solid black;
    width: 80%;
    
    
    
}

h4.jasonsmallh4{
    font-size: 18px;
    color: black;
}

.table-andyblue{
    background-color: aquamarine;
}

.jasoncrop{
    height: 300px;
    overflow: hidden;
    margin: 10px 5px;
    object-fit: cover;
    border-radius: 50px;
}

.jasonserif{  
    font-family: "Noto Serif TC", serif;
}

.jasoncenter{
    text-align: center;
}

.jasonhl{
    color: red;
    font-weight: 900;
}

.jasonbg{
    background-image: url(/assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    background-color: aliceblue;
    background-image: url(/assets/img/bg.jpg);
}

.list-group-item{
   background-color: white;
}

.list-group-itemactive{
    background-color: orange;
    font-weight: 200;
}
 .subheading mb-3{
    background-color: red;
}

.w-40 .p-5{
    font-size: larger;
}

.jasongoodbg{
    background-image:url("../assets/img/jasongoodbg.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    
}

